In [18]:
import pandas as pd

In [19]:
path=r"C:\Users\Arjun\Desktop\Data Analyst Assignment (1).xlsx"
sheet="Assignment-2"

In [20]:
df=pd.read_excel(path,sheet_name=sheet)
df.head()

,SKU,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-04 00:00:00,2019-08-05 00:00:00,2019-08-06 00:00:00,2019-08-07 00:00:00,2019-08-08 00:00:00,2019-08-09 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
0,2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
1,3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
2,3086,891,909,936,889,880,906,870,879,844,...,829,829,812,788,788,772,811,803,763,763
3,3155,1628,1628,1563,1532,1563,1563,1532,1593,1513,...,1719,1805,1895,1895,1990,2030,2050,2132,2111,2027
4,3166,369,354,343,340,330,337,350,343,340,...,335,328,325,319,316,319,329,336,349,352

In [21]:
df.dtypes

SKU                    object
2019-08-01 00:00:00     int64
2019-08-02 00:00:00     int64
2019-08-03 00:00:00     int64
2019-08-04 00:00:00     int64
                        ...
2020-07-27 00:00:00     int64
2020-07-28 00:00:00     int64
2020-07-29 00:00:00     int64
2020-07-30 00:00:00     int64
2020-07-31 00:00:00     int64
Length: 367, dtype: object

In [22]:
df.shape

(247, 367)

In [23]:
df.columns = list(map(str, df.columns))

In [24]:
all(isinstance(column, str) for column in df.columns)

True

In [25]:
df.isnull().values.any()

False

In [26]:
df.set_index("SKU",inplace=True)
df.head()

,2019-08-01 00:00:00,2019-08-02 00:00:00,2019-08-03 00:00:00,2019-08-04 00:00:00,2019-08-05 00:00:00,2019-08-06 00:00:00,2019-08-07 00:00:00,2019-08-08 00:00:00,2019-08-09 00:00:00,2019-08-10 00:00:00,...,2020-07-22 00:00:00,2020-07-23 00:00:00,2020-07-24 00:00:00,2020-07-25 00:00:00,2020-07-26 00:00:00,2020-07-27 00:00:00,2020-07-28 00:00:00,2020-07-29 00:00:00,2020-07-30 00:00:00,2020-07-31 00:00:00
SKU,,,,,,,,,,,,,,,,,,,,,
2527,1551,1613,1613,1532,1517,1441,1383,1424,1381,1340,...,1929,1948,1929,1987,2027,1926,1926,1849,1904,1828
3042,2240,2330,2423,2350,2374,2398,2278,2210,2232,2277,...,7096,7025,6955,6746,6881,6606,6804,6872,6872,7078
3086,891,909,936,889,880,906,870,879,844,852,...,829,829,812,788,788,772,811,803,763,763
3155,1628,1628,1563,1532,1563,1563,1532,1593,1513,1498,...,1719,1805,1895,1895,1990,2030,2050,2132,2111,2027
3166,369,354,343,340,330,337,350,343,340,340,...,335,328,325,319,316,319,329,336,349,352

In [36]:
df_test=df.transpose()
df_test

SKU,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM05126,PPAM05156,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234
2019-08-01 00:00:00,1551,2240,891,1628,369,1034,597,57,49,6,...,29,28,15,79,93,2,22,14,92,2
2019-08-02 00:00:00,1613,2330,909,1628,354,1024,585,56,48,6,...,28,27,15,79,93,2,23,13,92,2
2019-08-03 00:00:00,1613,2423,936,1563,343,1055,608,57,48,6,...,29,28,15,75,89,2,24,12,91,2
2019-08-04 00:00:00,1532,2350,889,1532,340,1055,578,60,48,6,...,28,27,15,77,85,2,25,11,93,2
2019-08-05 00:00:00,1517,2374,880,1563,330,1055,566,58,46,6,...,28,28,15,80,88,2,24,10,95,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-27 00:00:00,1926,6606,772,2030,319,690,215,34,35,6,...,11,35,11,82,171,2,24,15,27,2
2020-07-28 00:00:00,1926,6804,811,2050,329,669,224,34,33,6,...,11,34,11,83,174,2,25,16,27,2
2020-07-29 00:00:00,1849,6872,803,2132,336,649,228,33,34,6,...,11,33,11,79,174,2,25,16,27,2
2020-07-30 00:00:00,1904,6872,763,2111,349,649,228,32,32,6,...,11,32,11,80,174,2,24,16,26,2
2020-07-31 00:00:00,1828,7078,763,2027,352,630,228,31,33,6,...,11,30,11,76,179,2,24,16,27,2

In [38]:
df_test["Dates"]=df_test.index
df_test.head()

SKU,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM05156,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234,Dates
2019-08-01 00:00:00,1551,2240,891,1628,369,1034,597,57,49,6,...,28,15,79,93,2,22,14,92,2,2019-08-01 00:00:00
2019-08-02 00:00:00,1613,2330,909,1628,354,1024,585,56,48,6,...,27,15,79,93,2,23,13,92,2,2019-08-02 00:00:00
2019-08-03 00:00:00,1613,2423,936,1563,343,1055,608,57,48,6,...,28,15,75,89,2,24,12,91,2,2019-08-03 00:00:00
2019-08-04 00:00:00,1532,2350,889,1532,340,1055,578,60,48,6,...,27,15,77,85,2,25,11,93,2,2019-08-04 00:00:00
2019-08-05 00:00:00,1517,2374,880,1563,330,1055,566,58,46,6,...,28,15,80,88,2,24,10,95,2,2019-08-05 00:00:00

In [41]:
df_test['month'] = pd.DatetimeIndex(df_test['Dates']).month
df_test.head()

SKU,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234,Dates,month
2019-08-01 00:00:00,1551,2240,891,1628,369,1034,597,57,49,6,...,15,79,93,2,22,14,92,2,2019-08-01 00:00:00,8
2019-08-02 00:00:00,1613,2330,909,1628,354,1024,585,56,48,6,...,15,79,93,2,23,13,92,2,2019-08-02 00:00:00,8
2019-08-03 00:00:00,1613,2423,936,1563,343,1055,608,57,48,6,...,15,75,89,2,24,12,91,2,2019-08-03 00:00:00,8
2019-08-04 00:00:00,1532,2350,889,1532,340,1055,578,60,48,6,...,15,77,85,2,25,11,93,2,2019-08-04 00:00:00,8
2019-08-05 00:00:00,1517,2374,880,1563,330,1055,566,58,46,6,...,15,80,88,2,24,10,95,2,2019-08-05 00:00:00,8

In [46]:
sku=df.index

In [47]:
sku

Index([       2527,        3042,        3086,        3155,        3166,
              8272,        9311,       13159,       13160,       14011,
       ...
       'PPAM05126', 'PPAM05156', 'PPAM06156', 'PPAM07156', 'PPAM08156',
       'PPAM11156', 'PSTM01257', 'PSTM01457',  'WIM5011B',  'WIM51234'],
      dtype='object', name='SKU', length=247)

In [48]:
df_test

SKU,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234,Dates,month
2019-08-01 00:00:00,1551,2240,891,1628,369,1034,597,57,49,6,...,15,79,93,2,22,14,92,2,2019-08-01 00:00:00,8
2019-08-02 00:00:00,1613,2330,909,1628,354,1024,585,56,48,6,...,15,79,93,2,23,13,92,2,2019-08-02 00:00:00,8
2019-08-03 00:00:00,1613,2423,936,1563,343,1055,608,57,48,6,...,15,75,89,2,24,12,91,2,2019-08-03 00:00:00,8
2019-08-04 00:00:00,1532,2350,889,1532,340,1055,578,60,48,6,...,15,77,85,2,25,11,93,2,2019-08-04 00:00:00,8
2019-08-05 00:00:00,1517,2374,880,1563,330,1055,566,58,46,6,...,15,80,88,2,24,10,95,2,2019-08-05 00:00:00,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2020-07-27 00:00:00,1926,6606,772,2030,319,690,215,34,35,6,...,11,82,171,2,24,15,27,2,2020-07-27 00:00:00,7
2020-07-28 00:00:00,1926,6804,811,2050,329,669,224,34,33,6,...,11,83,174,2,25,16,27,2,2020-07-28 00:00:00,7
2020-07-29 00:00:00,1849,6872,803,2132,336,649,228,33,34,6,...,11,79,174,2,25,16,27,2,2020-07-29 00:00:00,7
2020-07-30 00:00:00,1904,6872,763,2111,349,649,228,32,32,6,...,11,80,174,2,24,16,26,2,2020-07-30 00:00:00,7
2020-07-31 00:00:00,1828,7078,763,2027,352,630,228,31,33,6,...,11,76,179,2,24,16,27,2,2020-07-31 00:00:00,7

In [49]:
df_grp=df_test.groupby(["month"]).sum()

In [50]:
df_grp

SKU,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM05126,PPAM05156,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234
month,,,,,,,,,,,,,,,,,,,,,
1,21853,79546,35670,75218,13990,16265,8532,2297,1248,186,...,1461,1339,388,3281,3499,62,742,311,1567,62
2,23170,78095,32029,61235,10517,14922,7193,2001,1154,174,...,1136,1374,353,2601,4040,58,803,295,1430,58
3,30956,92606,30827,72241,9587,18244,8971,1967,949,186,...,887,1928,330,3107,5874,62,725,320,1458,62
4,38202,120947,25062,67543,12110,24042,9115,1800,845,180,...,538,1623,325,2990,7265,60,704,349,984,60
5,44347,135342,22231,57518,9838,33069,10741,1447,1062,186,...,358,1332,409,3837,8075,62,797,390,904,62
6,49341,157482,24184,53480,9076,22895,8341,1087,1261,180,...,307,943,363,3708,6403,60,796,342,766,60
7,55826,196062,26153,54253,10182,20594,6834,1150,1168,186,...,317,975,326,2566,5023,62,698,444,816,62
8,41702,69451,27412,46443,10720,31559,19045,1822,1485,186,...,822,925,478,2395,3151,62,682,323,2886,62
9,36880,62415,31687,41922,10306,35877,17797,1990,1753,180,...,814,1211,580,2266,3021,60,772,305,2447,60
10,30582,71082,33122,45421,11966,35109,14797,1857,2045,186,...,971,1725,621,2490,3451,62,779,357,1954,62
11,21916,83246,28937,55371,13094,35407,11495,1853,1445,180,...,1180,1649,573,2769,3412,60,715,308,2035,60
12,23804,87899,33444,72253,13848,22536,9002,2051,1272,186,...,1168,1630,541,3346,2812,62,715,319,1855,62

In [51]:
df_grp["Total"]=df_grp.sum(axis=1)

## Monthly Sales By SKU

In [52]:
df_grp

SKU,2527,3042,3086,3155,3166,8272,9311,13159,13160,14011,...,PPAM05156,PPAM06156,PPAM07156,PPAM08156,PPAM11156,PSTM01257,PSTM01457,WIM5011B,WIM51234,Total
month,,,,,,,,,,,,,,,,,,,,,
1,21853,79546,35670,75218,13990,16265,8532,2297,1248,186,...,1339,388,3281,3499,62,742,311,1567,62,19170099
2,23170,78095,32029,61235,10517,14922,7193,2001,1154,174,...,1374,353,2601,4040,58,803,295,1430,58,17973457
3,30956,92606,30827,72241,9587,18244,8971,1967,949,186,...,1928,330,3107,5874,62,725,320,1458,62,20234570
4,38202,120947,25062,67543,12110,24042,9115,1800,845,180,...,1623,325,2990,7265,60,704,349,984,60,19103472
5,44347,135342,22231,57518,9838,33069,10741,1447,1062,186,...,1332,409,3837,8075,62,797,390,904,62,18555947
6,49341,157482,24184,53480,9076,22895,8341,1087,1261,180,...,943,363,3708,6403,60,796,342,766,60,18303531
7,55826,196062,26153,54253,10182,20594,6834,1150,1168,186,...,975,326,2566,5023,62,698,444,816,62,18795771
8,41702,69451,27412,46443,10720,31559,19045,1822,1485,186,...,925,478,2395,3151,62,682,323,2886,62,16590204
9,36880,62415,31687,41922,10306,35877,17797,1990,1753,180,...,1211,580,2266,3021,60,772,305,2447,60,17309331
10,30582,71082,33122,45421,11966,35109,14797,1857,2045,186,...,1725,621,2490,3451,62,779,357,1954,62,18300108
11,21916,83246,28937,55371,13094,35407,11495,1853,1445,180,...,1649,573,2769,3412,60,715,308,2035,60,17954015
12,23804,87899,33444,72253,13848,22536,9002,2051,1272,186,...,1630,541,3346,2812,62,715,319,1855,62,19536270

In [53]:
df_grp[["Total"]]

SKU       Total
month
1      19170099
2      17973457
3      20234570
4      19103472
5      18555947
6      18303531
7      18795771
8      16590204
9      17309331
10     18300108
11     17954015
12     19536270

## Top 3 months are March, December and January orderly

In [54]:
Q1 = df_grp.quantile(0.25)
Q3 = df_grp.quantile(0.75)
IQR = Q3 - Q1
print(IQR)

SKU
2527           18717.75
3042           48204.00
3086            6422.00
3155           16996.75
3166            2260.00
                ...
PSTM01257         71.00
PSTM01457         40.75
WIM5011B        1010.25
WIM51234           2.00
Total        1151532.25
Length: 248, dtype: float64

In [56]:
print(df_grp < (Q1 - 1.5 * IQR)) |(df_grp > (Q3 + 1.5 * IQR))